@font-face {
  font-family: DinPro-B;  //重命名字体名
  src: url('~@/assets/fonts/DINPro-Bold.ttf');  //引入字体
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: DinPro-BL;  //重命名字体名
  src: url('~@/assets/fonts/DINPro-Black.ttf');  //引入字体
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: DinPro-M;  //重命名字体名
  src: url('~@/assets/fonts/DINPro-Medium.ttf');  //引入字体
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: DinPro-L;  //重命名字体名
  src: url('~@/assets/fonts/DINPro-Light.ttf');  //引入字体
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: PF-B;  //重命名字体名
  src: url('http://fonts-ttf.test.upcdn.net/PingFang-Bold.ttf');  //引入字体
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: PF-EL;  //重命名字体名
  src: url('http://fonts-ttf.test.upcdn.net/PingFang-ExtraLight.ttf');  //引入字体
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: PF-H;  //重命名字体名
  src: url('http://fonts-ttf.test.upcdn.net/PingFang-Heavy.ttf');  //引入字体
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: PF-L;  //重命名字体名
  src: url('http://fonts-ttf.test.upcdn.net/PingFang-Light.ttf');  //引入字体
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: PF-M;  //重命名字体名
  src: url('http://fonts-ttf.test.upcdn.net/PingFang-Medium.ttf');  //引入字体
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: PF-R;  //重命名字体名
  src: url('http://fonts-ttf.test.upcdn.net/PingFang-Regular.ttf');  //引入字体
  font-weight: normal;
  font-style: normal;
}
